<!doctype html>
<html>
<head>
<meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Home Page</title>
  <link rel="stylesheet" href="home.css">
  <script defer src="Home.js"></script>
</head>

<body>
<img src="logo.png" width="1000" height="500" alt="" class="img"/>
<!-- Navigation bar -->	
<div class="nav_bar" id="menu">
	<ul>	
		<li> <a href="#"> Home </a></li>
		<li> <a href="#"> Register </a></li>
		<li> <a href="#"> Account </a></li>
		<li> <a href="#"> Checkout </a></li>
		<li> <input type="text" placeholder="Search.."> </li>
	</ul>
	
</div>
</body>
</html>